<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Dashboard</title>
    <script src="https://unpkg.com/aws-sdk@2.799.0/dist/aws-sdk.min.js"></script>
    <script src="https://unpkg.com/amazon-cognito-identity-js@4.6.0/dist/amazon-cognito-identity.min.js"></script>
    <!--<script src="app.js" defer></script> -->
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>

</head>
<body>
    <h1>Business Dashboard</h1>
    <h2>Welcome, <span id="admin-name"></span>!</h2>
    <p>Email: <span id="email"></span></p>
    <p>Address: <span id="address"></span></p>
    <p>Name: <span id="name"></span></p>
    <p>Phone Number: <span id="phone-number"></span></p>
    <p>Website: <span id="website"></span></p>
    <button onclick="signOut()">Sign out</button>
    <script>
        document.getElementById('admin-name').innerText = localStorage.getItem('adminName');
        document.getElementById('email').innerText = localStorage.getItem('userEmail');
        document.getElementById('address').innerText = localStorage.getItem('address');
        document.getElementById('name').innerText = localStorage.getItem('name');
        document.getElementById('phone-number').innerText = localStorage.getItem('phoneNumber');
        document.getElementById('website').innerText = localStorage.getItem('website');
    </script>
</body>
</html>
